#test-bg {
    background-color:#BBBBBB;    
    }

#user_ID {
    background-color:#AAFFAA;    
    }

#user_menu {
    background-color:#EEFFEE;
    }
#patient {
    background-color:#FFFFEE;   
    }