body {
    margin: 0;
    padding: 0;
    background: url(images/img01.gif) repeat-x left top;
    font-size: 13px;
    font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
    text-align: justify;
    color: #000000;
}

#user{
    position: fixed;
    width: 100%;
    border: 3px solid yellow;
    padding: 5px;
    font-size: 16px;
    background-color:#FFFFCC;
}

p, ul, ol {
margin: 0 0 2em 0;
text-align: justify;
line-height: 26px;
}

a:link {
	color: #0000FF;
}

a:hover, a:active {
	text-decoration: none;
	color: #8BD80E;
}

a:visited {
	color: #8BD80E;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}





form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

#wrapper {
	margin: 0;
	padding: 0;
}





#page {
	
	width: auto;
	margin: 0 auto;
	padding: 0 5px;
}




#sidebar {
	position: fixed;
	width: 100px;
	float: left;
	margin: 0;
	padding: 0;
	margin-top:50px;
	background-color: #DDDDDD;
	
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 10px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}

#sidebar h2 {
	width: 250px;
	padding: 8px 0 0 0px;
	margin-bottom: 10px;
	background-color: #FFFFFF left top;
	font-size: 20px;
	color: #FFFFFF;
}



#search {

}

#search h2 {
	margin-bottom: 20px;
}


.box1 {
	padding: 20px;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}



