body {
    background-color:#BBBBBB;    
    }

#user_header {
    border: solid 6px lightgreen;
    }
#user_ID {
    background-color:#AAFFAA;    
}

#user_menu {
    background-color:#EEFFEE;
}
#patient {
    background-color:#FFFFCC;   
    }

h1 {
text-align: center;
margin-top: 1em;
}

div#wrapper {
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 0%;
background: #BBBBBB;
padding: 0em;
border: solid 3px white;
}
div#content {
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 0%;
background: white;
padding: 0em;
border: solid 2px yellow;
}

div#patient_frame {
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 0%;
background: white;
padding: 0em;
border: solid 6px yellow;

.fieldname {
display: inline-block;
width: 7em;
text-align: right;
}

.field_error, .error {
color: red;
}

label.field_opt, label.field_req {
display: inline-block;
text-align: right;
width: 6em;
}


textarea#PatientItem--text, textarea#Action--text {
width: 80%;
height: 20em;
}

.smallview {
border: solid 1px grey;
padding: 5px;
margin: 5px;
}
.action {
background: #FEF;
}
.item {
background: #FFE;
}
