a {
text-decoration: none;
padding: 0.2em;
vertical-align: middle;
}

#patient {
margin: 0.1em;
}

#patient_menu {
margin: 0.1em;
float: left;
margin: 0.5em;
}

#patient_menu a {
display: block;
width: 9em;
margin-bottom: 0.2em;
}

