body { background-color: #FFF; }

a {
text-decoration: none;
padding: 0.2em;
vertical-align: middle;
}

#patient {
margin-top: 0.3em;}

#patient_menu {
float: left;
margin-right: 0.5em;
}

#patient_menu a {
display: block;
width: 9em;
margin-top: 2px;
margin-bottom: 2px;
}

.item {
    background: #eee;
}
.issue {
    background: #abc2de;
}
.observation {
    background: #abded1;
}
.action {
    background: #deb3ab;
}
