<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>patient_item-spec</title></head><body>
<h4 style="text-align: center;">patient-item definition</h4>
<ul>
  <li>Introduction:</li>
  <ul>
    <li>Standard patient item header to be used by default.</li>
    <li>.....</li>
  </ul>
  <li>Presentation:</li>
  <ul>
    <li>
      <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
        <tbody>
          <tr>
            <td style="vertical-align: top;">Date time : Type : title : author(s) / version <br>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top;">
            <ul>
              <li>Content, what it may be:</li>
              <ul>
                <li>Optional links to any number of annexes:</li>
                <ul>
                  <li>May be documents in various formats, beginning by the most generic formats as png, jpeg, pdf, txt, html, ..... ....<br>
                  </li>
                </ul>
                <li>In short lists longer than treshold, terminated by a "(more)" button.</li>
              </ul>
              <li><br>
              </li>
            </ul>
            <br>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    </li>
  </ul>
</ul>
</body></html>